<div class="container">
  <h1>Shorten url</h1>

  <form>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput #sourceUrl placeholder="Source url" value="http://google.com">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field matTooltip="If left empty then random hash will be generated" class="example-full-width">
        <input matInput #customHash placeholder="Custom hash">
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button (click)="shortenUrl(sourceUrl.value, customHash.value)">Shorten url</button>
    </div>
  </form>
</div>


